<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budżet domowy</title>
</head>
    {% csrf_token %}
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h1>Budżet domowy</h1><h3>Wersja 1.0, Autor: Raf</h3>
<body>
    <form method="POST" name="spendings" action="/dodaj-wydatek">
        <h2>Wydatki</h2>
        <input type="text" name="description" placeholder="opis wydatku"><br>
        <input type="number" name="amount" placeholder="kwota"><br>
        <input type="date" name="date" placeholder="data"><br>
        <input type="radio" name="category" ...>
        <button type="submit">Dodaj wydatek</button>
    </form>

</body>

</html>